button{
    width: 200px;
}

#left-col{
    text-align: center
}  
#inst button{
    text-align: center;
    width: 200px;
    border: 1px solid lightslategray;
    font-size: 16px;
}
#box{
    position: absolute;
    top: 200px;
    border: black 2px solid;
    width: 400px;
    height: 400px;
}

#numbox{
    position: absolute;
    top: 200px;
    border: black 2px solid;
    width: 400px;
    height: 400px;
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.nums{
    padding: 4px;
    margin: 16px 20px;
    font-size: 1.5rem; 
    display: inline-block;
}

.smallNum{
    padding-top: 100px;
}

.medNum{
    padding-top: 100px;
}
.largeNum{
    padding-top: 0px;
}

#inst{
    text-align: center;
    font-size: 1em;
    font-family: Lucida Console;
}

button{
    width: 100px;
}
canvas{
    position: absolute;
    top: 200px;
    border: black 2px solid;
    width: 400px;
    height: 400px;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.hidden{
    visibility: hidden;
}