#box{
    position: absolute;
    top: 200px;
    border: black 2px solid;
    width: 400px;
    height: 400px;
}

#inst{
    text-align: center;
}

button{
    width: 100px;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.hidden{
    visibility: hidden;
}